.showcase {
  padding: 0 1rem;
}

.showcase__title {
  font-size: 1.125rem;
  font-weight: 700;
  height: calc(1.5rem + 5px);
  padding: 1rem 0;
  position: relative;
}

.showcase__title::after {
  background-color: var(--dark);
  content: '';
  height: 5px;
  width: 50px;
  position: absolute;
  top: 2.5rem;
  left: 0;
}

.showcase__grid {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 1rem 0;
}

.showcase__project {
  height: calc(100vw - 2rem);
  width: calc(100vw - 2rem);
  perspective: 1000px;
}

.showcase__project:hover > .card {
  transform: rotateY(-180deg);
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  height: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  width: 100%;
}

.card__front,
.card__back {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.card__front {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}

.card__back {
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  transform: rotateY(-180deg);
}

.card__back > h1 {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.card__back > p {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}





/* .showcase__project:hover {
  transform: rotateY(180deg);
} */
/* .showcase__project::after {
  align-items: center;
  background-color: var(--dark);
  box-sizing: border-box;
  content: 'SpryLMS, Dashboard';
  color: var(--light);
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  height: calc(100vw - 2rem);
  opacity: 0;
  padding: 2rem;
  justify-content: space-around;
  transition: opacity 0.5s ease-in-out;
  white-space: pre-wrap;
  width: calc(100vw - 2rem);
  position: absolute;
  top: 0;
  left: 0;
}

.showcase__project:hover::after {
  opacity: 1;
} */

/* .showcase__project img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease-in-out;
}

.showcase__project figcaption {
  position: absolute;
} */

@media only screen and (min-width: 600px) {
  .showcase__grid {
    grid-template-columns: 1fr 1fr;
  }
  .showcase__project {
    height: calc((100vw - 3rem) / 2);
    width: calc((100vw - 3rem) / 2);
  }
}

@media only screen and (min-width: 1024px) {
  .showcase {
    padding: 0 4rem;
  }
  .showcase__title {
    padding: 1rem 2rem;
  }
  .showcase__title::after {
    left: 2rem;
  }
  .showcase__grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2rem;
  }
  .showcase__project {
    height: calc((100vw - 16rem) / 3);
    width: calc((100vw - 16rem) / 3);
  }
}